*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
}

body{
    display: flex;
    flex-direction: column;
    background-color:rgb(50, 46, 58);
    
    font-family: 'Happy Monkey', cursive;
    font-family: 'Kumbh Sans', sans-serif;
}

header{
    margin-top: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color:rgb(50, 46, 58);
    padding: 10px;
    color:rgb(241, 246, 250);
    position: sticky;
    top:0;
    animation-name: incrementar;
    animation-duration: 2s;

    
}

.cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    text-shadow: 2px 2px 0 rgb(3, 1, 1);
    text-align: center;
    margin: 10px;
    scroll-margin-top: 60px;
}
.cursos h2{
    margin-bottom: 10px;
}

footer{
    
    margin: 10px 10px;
}

#header_div:hover{
    cursor: pointer;
}

.enlaces{
    width:50%;
    
}

.a{
    font-size: 22px;
    margin: 10px 3px;
   
   
}

.logo{
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 0 rgb(3, 1, 1);
}

.logo img{
    width: 70px;
   

}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    
   

}

.imgMartin{
    width: 20%;
}

h3{
    color:rgb(241, 246, 250);
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    animation-name: mover;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    text-shadow: 2px 2px 0 rgb(3, 1, 1);
}

.redesSociales{
    width: 50px;
    margin: 0px 5px;
}

p{
    width: 40%;
    color: lavender;
    margin-bottom: 20px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a{
    display: block;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
}

.menu-horizontal > li > a:hover{
    background-color:  rgb(43, 43, 238, 0.7);
    border-radius: 5px;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgb(43, 43, 238, 0.7);
    border-radius: 5px;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: rgb(22, 20, 30);
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    
}

.mail{
    color:aliceblue;
    font-size: 22px;
}

.imgContacto{
    width: 18px;
    margin-left:3px;
    
   
}

.contacto-align{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}





@keyframes incrementar {
    from{
    transform: scale(0.2)
    }
    to{
        transform: scale(1)
        
    }
}

@keyframes mover {
    from{
    transform: translateY(300%);
    }
    to{
        transform: translateY(0%);
        
    }
}

@media (max-width:767px) {
    header{
        flex-direction: column;
        
        
    }
    .enlaces{
        margin-bottom: 20px;
        width: 100%;
        
    }

    .redesSociales{
        width: 70px;
        margin: 0px 20px;
    }

    .imgMartin{
        width: 40%;
    }
    
    .a{
        font-size: 20px;
        
    }

    p{
        width: 70%;
        
    }

    h3{
        margin-top: 5px;
    }

    html{
        
        scroll-padding-top: 270px;
    }
    
    

    

}

@media (min-width:768px) {
    
}

